{%- if num_failed_notifications %}
  <div class="alert alert-danger">
  {%- if num_failed_notifications == 1 -%}
    <p><center>There is {{ num_failed_notifications }} <strong>failed</strong> notification - Trouble Code <a href="https://docs.hotpotato.nz/hotpotato001.html">HOTPOTATO001</a></center></p>
  {%- else -%}
    <p><center>There are {{ num_failed_notifications }} <strong>failed</strong> notifications - Trouble Code <a href="https://docs.hotpotato.nz/hotpotato001.html">HOTPOTATO001</a></center></p>
  {%- endif -%}
  {%- if request.path != "/pages/failed" %}
    <p><center><a href="/pages/failed">Click here to view</a></center></p>
  {%- endif -%}
  </div>
{%- endif %}
