{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "missed_hbeats.html" %}

{% block body %}
<h2>Server added successfully</h2>
<p><b>Server API key: <pre>{{ apikey }}</pre></b></p>
<a class="btn btn-primary" href="{{ url_for('get_servers') }}">Back</a>
{% endblock %}

{% include "footer.html" %}
