{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "failed_alerts.html" %}

{% block body %}

<div class="panel panel-info">

  <table>
    <tbody>

      <tr>
        <td><p>Alert ID</p></td>
        <td><p>{{ notif.id }}</p></td>
      </tr>

      <tr>
        <td><p>Tenant ID</p></td>
        <td><p>{{ notif.tenant_id }}</p></td>
      </tr>

      <tr>
        <td><p>User ID</p></td>
        <td><p>{{ notif.user_id }}</p></td>
      </tr>

      <!-- Some kind of break here? To separate database and JSON data -->

      <tr>
        <td><p>JSON Version</p></td>
        <td><p>{{ notif.json["version"] }}</p></td>
      </tr>

{% if notif.json["event_id"] -%}
      <tr>
        <td><p>Event ID</p></td>
        <td><p>{{ notif.json["event_id"] }}</p></td>
      </tr>
{%- endif %}

{% if notif.json["ticket_id"] -%}
      <tr>
        <td><p>Ticket ID</p></td>
        <td><p>{{ notif.json["ticket_id"] }}</p></td>
      </tr>
{%- endif %}

      <tr>
        <td><p>Alert Type</p></td>
        <td><p>{{ notif.json["alert_type"] }}</p></td>
      </tr>

      <tr>
        <td><p>Server ID</p></td>
        <td><p>{{ notif.json["server_id"] }}</p></td>
      </tr>

      <tr>
        <td><p>Trouble Code</p></td>
        <td><p><a href="{{ config.get('HOTPOTATO_TROUBLECODE_URL').format(trouble_code=notif.json['trouble_code']) }}">{{ notif.json["trouble_code"] }}</a></p></td>
      </tr>

      <tr>
        <td><p>Hostname (of alerting server)</p></td>
        <td><p>{{ notif.json["hostname"] }}</p></td>
      </tr>

      <!-- TODO: There is also display_name, but may be deprecated -->

{% if notif.json["alert_type"] == "service" -%}
      <tr>
        <td><p>Service Name</p></td>
        <td><p>{{ notif.json["service_name"] }}</p></td>
      </tr>

{%- endif %}
      <tr>
        <td><p>State</p></td>
        <td><p>{{ notif.json["state"] }}</p></td>
      </tr>

{% if notif.has_been_sent() -%}
      <tr>
        <td><p>Sending Method</p></td>
        <td><p>{{ notif.json["method"] }}</p></td>
      </tr>

      <tr>
        <td><p>Sending Provider</p></td>
        <td><p>{{ notif.json["provider"] }}</p></td>
      </tr>

      <tr>
        <td><p>Sending Provider's Notification ID</p></td>
        <td><p>{{ notif.json["provider_notif_id"] }}</p></td>
      </tr>
{%- endif %}

    </tbody>
  </table>

  <h4>Output</h4><pre>{{ notif.json["output"] }}</pre>

{% if notif.json["warnings"] -%}
  <h4>Warnings</h4>
{% for warning in notif.json["warnings"] -%}
  <pre>{{ warning }}</pre>
{%- endfor %}
{%- endif %}

{% if notif.json["errors"] -%}
  <h4>Errors</h4>
{% for error in notif.json["errors"] -%}
  <pre>{{ error }}</pre>
{%- endfor %}
{%- endif %}

</div>

{% endblock %}

{% include "footer.html" %}
