{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "failed_alerts.html" %}
{% from "notifications/search.html" import search_filters_get %}
{% from "notifications/table.html" import table_start, table_end, table_row_notification %}

{% block body %}

<h2>{{ heading }}</h2>

<!-- Notification search filter -->
{{ search_filters_get(search_filter_attr_info, current_search_filters) }}

<!-- Notifications table -->
{% if id_notif -%}
{% set filter_notif_ids = "id=" + id_notif.keys()|join("&id=") %}
<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin:0.5em">Export <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li class="notifications-export-as-json"><a href="#">As JSON</a></li>
    <li class="notifications-export-as-csv"><a href="#">As CSV</a></li>
  </ul>
</div>
{{ table_start(show_checkbox=True) }}
{% for notif in id_notif.values() -%}
  {{ table_row_notification(notif, notif_servers, users, reply_notifs, show_checkbox=True) }}
{%- endfor %}
{{ table_end() }}
<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin:0.5em">Export <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li class="notifications-export-as-json"><a href="#">As JSON</a></li>
    <li class="notifications-export-as-csv"><a href="#">As CSV</a></li>
  </ul>
</div>

<!-- Bind the trigger functions to the Export buttons. -->
<form id="notifications-form" type="hidden" method="POST" enctype="multipart/form-data">
{% for id in id_notif.keys() -%}
  <input type="hidden" name="id" value="{{ id }}">
{%- endfor %}
</form>
<script>
  function sendNotificationsToURL(url)
  {
      var checkboxes = $(".checkbox-notification:checkbox:checked");

      if(checkboxes)
      {
        var form = $("<form>");
        form.attr("type", "hidden");
        form.attr("method", "POST");
        form.attr("enctype", "multipart/form-data");
        form.attr("action", url);

        checkboxes.each(function()
        {
          var input = $("<input>");
          input.attr("type", "hidden");
          input.attr("name", "id");
          input.attr("value", $(this).attr("notification-id"));
          form.append(input);
        });

        $("body").append(form);
        form.submit();
      }
      else
      {
        var form = $("#notifications-form");
        form.attr("action", url);
        form.submit();
      }
  }

  $(document).ready(function()
  {
    $(".notifications-export-as-json").on("click", function()
    {
      sendNotificationsToURL("{{ url_for('api_web_v1.notifications_get') }}");
    });
    $(".notifications-export-as-csv").on("click", function()
    {
      sendNotificationsToURL("{{ url_for('api_web_v1.notifications_get_as_csv') }}");
    });
  });
</script>
{%- endif %}

{% endblock %}

{% include "footer.html" %}
