{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "failed_alerts.html" %}

{% block body %}

<div class="panel panel-info">

  <table>
    <tbody>

      <tr>
        <td><p>Message ID</p></td>
        <td><p>{{ notif.id }}</p></td>
      </tr>

      <tr>
        <td><p>Tenant ID</p></td>
        <td><p>{{ notif.tenant_id }}</p></td>
      </tr>

      <tr>
        <td><p>User ID</p></td>
        <td><p>{{ notif.user_id }}</p></td>
      </tr>

      <!-- Some kind of break here? To separate database and JSON data -->

      <tr>
        <td><p>JSON Version</p></td>
        <td><p>{{ notif.json["version"] }}</p></td>
      </tr>

{% if notif.json["event_id"] -%}
      <tr>
        <td><p>Event ID</p></td>
        <td><p>{{ notif.json["event_id"] }}</p></td>
      </tr>
{%- endif %}

{% if notif.json["ticket_id"] -%}
      <tr>
        <td><p>Ticket ID</p></td>
        <td><p>{{ notif.json["ticket_id"] }}</p></td>
      </tr>
{%- endif %}

      <tr>
        <td><p>Status</p></td>
        <td><p>{{ notif.json["status"] }}</p></td>
      </tr>

      <tr>
        <td><p>Node Name</p></td>
        <td><p>{{ notif.json["node_name"] }}</p></td>
      </tr>

      <tr>
        <td><p>From User ID</p></td>
        <td><p>{{ notif.json["from_user_id"] }}</p></td>
      </tr>

{% if notif.json["reply_to_notif_id"] -%}
      <tr>
        <td><p>Reply To Notification ID</p></td>
        <td><p>{{ notif.json["reply_to_notif_id"] }}</p></td>
      </tr>
{%- endif %}

{% if notif.has_been_sent() -%}
      <tr>
        <td><p>Sending Method</p></td>
        <td><p>{{ notif.json["method"] }}</p></td>
      </tr>

      <tr>
        <td><p>Sending Provider</p></td>
        <td><p>{{ notif.json["provider"] }}</p></td>
      </tr>

      <tr>
        <td><p>Sending Provider's Notification ID</p></td>
        <td><p>{{ notif.json["provider_notif_id"] }}</p></td>
      </tr>
{%- endif %}

    </tbody>
  </table>

  <h4>Message Body</h4><pre>{{ notif.json["message"] }}</pre>

{% if notif.json["warnings"] -%}
  <h4>Warnings</h4>
{% for warning in notif.json["warnings"] -%}
  <pre>{{ warning }}</pre>
{%- endfor %}
{%- endif %}

{% if notif.json["errors"] -%}
  <h4>Errors</h4>
{% for error in notif.json["errors"] -%}
  <pre>{{ error }}</pre>
{%- endfor %}
{%- endif %}

</div>

{% endblock %}

{% include "footer.html" %}
